# conda environments:
#
main                     /home/prakhar7/.conda/envs/main
main2                 *  /home/prakhar7/.conda/envs/main2
mfprl                    /home/prakhar7/.conda/envs/mfprl
mne                      /home/prakhar7/.conda/envs/mne
pyv                      /home/prakhar7/.conda/envs/pyv
pyvista                  /home/prakhar7/.conda/envs/pyvista
base                     /opt/miniconda3
BIOE-488                 /opt/miniconda3/envs/BIOE-488
BIOE-488-v2              /opt/miniconda3/envs/BIOE-488-v2
cosmoflow                /opt/miniconda3/envs/cosmoflow
deepcam                  /opt/miniconda3/envs/deepcam
deepspeed-v0.3.16        /opt/miniconda3/envs/deepspeed-v0.3.16
fastai-v0.1.18           /opt/miniconda3/envs/fastai-v0.1.18
h2oai                    /opt/miniconda3/envs/h2oai
hvd-tf115-mlperf         /opt/miniconda3/envs/hvd-tf115-mlperf
jupyter                  /opt/miniconda3/envs/jupyter
keras-spatial            /opt/miniconda3/envs/keras-spatial
marybp                   /opt/miniconda3/envs/marybp
mlperf_2021              /opt/miniconda3/envs/mlperf_2021
ocp-models               /opt/miniconda3/envs/ocp-models
opence-v1.0.0            /opt/miniconda3/envs/opence-v1.0.0
opence-v1.1.2            /opt/miniconda3/envs/opence-v1.1.2
opence-v1.2.2            /opt/miniconda3/envs/opence-v1.2.2
opence-v1.3.1            /opt/miniconda3/envs/opence-v1.3.1
opence-v1.4.1            /opt/miniconda3/envs/opence-v1.4.1
opence-v1.5.1            /opt/miniconda3/envs/opence-v1.5.1
opence-v1.5.2            /opt/miniconda3/envs/opence-v1.5.2
opence-v1.5.3            /opt/miniconda3/envs/opence-v1.5.3
opence-v1.6.1            /opt/miniconda3/envs/opence-v1.6.1
opence-v1.7.2            /opt/miniconda3/envs/opence-v1.7.2
rapids-v0.11.0           /opt/miniconda3/envs/rapids-v0.11.0
simpleitk                /opt/miniconda3/envs/simpleitk
temp                     /opt/miniconda3/envs/temp
theano-v1.0.4            /opt/miniconda3/envs/theano-v1.0.4
wmlce-v1.6.2             /opt/miniconda3/envs/wmlce-v1.6.2
wmlce-v1.7.0             /opt/miniconda3/envs/wmlce-v1.7.0

